<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
{% capture page_id %}{{ page.url | replace: '/perelaar/', '' | replace: '.html' }}{% endcapture %}
{% unless page_id %}{% assign page_id = 'index' %}{% endunless %}
<title>B&amp;B De Perelaar - {{ page.title }}</title>
<meta name="description" content="Een nieuwe Bed &amp; Breakfast met twee luxe kamers op een exclusieve en landelijke locatie in Libeek, Zuid-Limburg, op 10 km afstand van Maastricht midden in het Heuvelland." />
<link rel="shortcut icon" href="/perelaar/favicon.ico">
<link rel="stylesheet" type="text/css" href="style/screen.css">
<style type="text/css">
</style>
</head>
<body id="{{ page_id }}">

<div id="content">

<div id="masthead">
<h1>B&amp;B De Perelaar</h1>
</div>

{{ content }}

<p id="language"><a href="{{ page_id }}_en">English</a></p>

<ul id="navigation">
{% assign menu_url = '.' %}{% assign menu_label = 'Home' %}{% include menu.html %}
{% assign menu_url = 'locatie' %}{% assign menu_label = 'Locatie' %}{% include menu.html %}
{% assign menu_url = 'kamers' %}{% assign menu_label = 'Kamers' %}{% include menu.html %}
</ul>

<p id="footer">Alle interieur foto’s zijn in De Perelaar genomen en alle foto’s buiten in Libeek en directe omgeving. 
Website inhoud en ontwerp copyright &copy;2007-2017 De Perelaar. Alle rechten voorbehouden</p>

</div>

</body>
</html>
